<strong>Olá, Despachante Terra</strong>
<p>Uma nova interação foi aberta pelo site visualize as informações abaixo: </p>
<p>
  <strong>Email: </strong>{{email}} <br/>
  <strong>Telefone: </strong>{{Telefone}} <br/>
  <br />
  <small>
    {{conteudo}}.
  </small>
</p>